.page {
  width: 100%;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 15px;
  width: 95%;
  background: white;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  left: 2.5%;
}

.logo {
  font-size: 42px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: green;
}

.bodyWrapper {
  margin-left: 15px;
}

.comingSoon {
  color: #dffedc;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.subtext {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1px;
  text-align: center;
}

.inputWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.notifyContainer {
  background: white;
  padding: 14px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 47px;
  width: 350px;
}

.seperator {
  padding-left: 10px;
  border-left: 2px solid #dfdada;
}

.emailInput {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  width: calc(100% - 100px);
  color: #0b6f40;
}

.emailInput::placeholder {
  color: #9bc7b2;
}

.notifyButton {
  background: transparent;
  cursor: pointer;
  color: #0b6f40;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
}

.thanksMessage {
  color: #afdf92;
  line-height: 47px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .bodyWrapper {
    margin-bottom: 300px;
    margin-left: 5px;
  }

  .page {
    background-image: url("/small-bg.png");
  }

  .comingSoon {
    font-size: 34px;
  }

  .subtext {
    font-size: 12px;
  }

  .inputWrapper {
    margin-top: 14px;
  }

  .seperator {
    padding-left: 5px;
    border-left: 1px solid #dfdada;
  }

  .notifyContainer {
    padding: 10px 14px;
    width: 85%;
    height: 35px;
    border-radius: 6px;
  }

  .emailInput {
    font-size: 12px;
    width: calc(100% - 80px);
  }

  .notifyButton {
    font-size: 12px;
  }

  .thanksMessage {
    color: #afdf92;
    line-height: 35px;
    font-size: 12px;
  }
}
